.App {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 80px)) 1fr;
  grid-gap: 40px;
  padding: 40px 0;
}
.course-cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 80px));
  grid-gap: 40px;
}
@media screen and (max-width: 700px) {
  .App {
    grid-gap: 10px;
    grid-template-columns: 10px repeat(6, 1fr) 10px;
  }
  .course-cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
  }
}
