* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Josefin Sans", Helvetica, Arial;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 14px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
section {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
