:root {
  font-family: Eina01, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  list-style: none;
}

body {
  min-height: 100vh;
}
a {
  font-weight: 500;
  color: aliceblue;
  text-decoration: inherit;
}
a:hover {
  color: #ff7247;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
